.section {
  margin-bottom: 12px;
}

.section-s {
  margin-bottom: 8px;
}

/* .1 */
.intro {
  margin-bottom: 1120px;
}

.intro-title {
  font-weight: bold;
  margin-bottom: 16px;
}

/* .2 */
.pro-camera {
  margin-bottom: 1120px;
}

.procamera-title {
  color: #5e6164;
  font-weight: bold;
}

/* .3 */
.pro-display {
  margin-bottom: 1120px;
}

.prodisplay-title {
  color: #D1C98C;
  font-weight: bold;
}

.prodisplay-diamond {
  color: #E9EDF2;
  font-weight: normal;
}

/* .4 */
.pro-cpu {
  margin-bottom: 1120px;
}

.procpu-title {
  color: #417D98;
  font-weight: bold;
}

.cpu {
  color: #A1F897;
  font-weight: normal;
}

.gpu {
  color: rgb(255, 0, 255);
  font-weight: normal;
}

/* .5 */
.pro-battery {
  margin-bottom: 1120px;
}

.probattery-title {
  color: #97C2C0;
  font-weight: bold;
}

.battery {
  color:#B6FF9B;
  font-weight: normal;
}

/* .6 */
.security-system {
  margin-bottom: 1120px;
}

.securitysystem-title {
  font-weight: bold
}

.security-last {
  margin-top: 36px;
}

/* .7 */
.pro-color {
  margin-bottom: 1120px;
}

.procolor-title{
  margin-bottom: 50em;
  font-weight: bold;
}

.pro-color1 {
  color: #434547;
  margin-bottom: 40em;
  font-weight: bolder;
}

.pro-color2 {
  color: #D1C98C;
  margin-bottom: 40em;
  font-weight: bolder;
}

.pro-color3 {
  color: #417D98;
  margin-bottom: 40em;
  font-weight: bolder;
}

.pro-color4 {
  color: #97C2C0;
  font-weight: bolder;
}

/* .8 */
.pro-cost {
  margin-bottom: 1120px;
}

.procost-title {
  margin-bottom: 16px;
  font-weight: bold;
}

.pro-cost1 {
  color: #E60033;
}

.pro-cost2 {
  color: #00A960;
}

/* .info */
hr .info {
  margin-bottom: 16px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
}