/* menu */
.menu_left {
  text-align: right;
  float: left;
}

.menu_right {
  text-align: right;
  float: right;
}

/* title */
.title {
  margin-top: 200px;
  margin-bottom: 1120px;
}

.title > h1 {
  font-weight: bold;
}

.title_content_time_strong {
  color: #bdbb42;
  font-weight: normal;
}

.title_content_health_strong {
  color: #eb4d5d;
  font-weight: normal;
}

.title_content_enviro_strong {
  color: #0bc02c;
  font-weight: normal;
}

/* function */
.function {
  margin-bottom: 1120px;
}

.function_content_time_strong {
  color: #BDBB42;
  font-weight: normal;
}

.function_content_health_strong {
  color: #EB4D5D;
  font-weight: normal;
}

.function_content_air_strong {
  color: #62cca9;
  font-weight: normal;
}

.function_content_enviro_strong {
  color: #0bc02c;
  font-weight: normal;
}

.content_sensor {
  text-align: center;
}

.content_sensor_section {
  text-align: left;
  display: inline-block;
  margin-bottom: 12px;
}

/* fit to you */
.fit_to_you {
  margin-bottom: 1120px;
}

.fit_content_sizeL_strong {
  font-size: 26px;
  font-weight: normal;
}

.fit_content_sizeM_strong {
  font-size: 23px;
  font-weight: normal;
}

.fit_content_case_spacegray_strong {
  color: #3F454D;
  font-weight: normal;
}

.fit_content_case_shinygold_strong {
  color: #C2A463;
  font-weight: normal;
}

/* battery */
.battery {
  margin-bottom: 1120px;
}

.battery_content_battery_strong {
  color: #07ca00;
  font-weight: normal;
}

/* apay */
.apay {
  margin-bottom: 1120px;
}

/* security */
.security {
  margin-bottom: 1120px;
}

/* strong */
.strong {
  margin-bottom: 1120px;
}

.strong_content_display_diamond_strong {
  color: #E9EDF2;
  font-weight: normal;
  -webkit-text-stroke: 0.75px #000;
}

.strong_content_display_glass_strong {
  color: #86E7C7;
  font-weight: normal;
}

.strong_content_display_sheld_strong {
  color: #246769;
  font-weight: normal;
}

.strong_content_display_plastic_strong {
  color: #A5B4B4;
  font-weight: normal;
}

.strong_content_emergency_strong {
  color: #FF0000;
}

/* mobile */
.mobile {
  margin-bottom: 1120px;
}

/* info */
hr .info {
  margin-bottom: 16px;
}

/* note */
.bottom_note_1 {
  display: table;
  text-align: center;
  margin-top: 12px;
}

.bottom_note_2 {
  text-align: left;
  display: inline-block;
  color: #808080;
  font-size: 13px;
}

/* alert */
.alert {
  color: #FF0000;
  font-weight: bold;
}

/* all */
h2 {
  margin-bottom: 12px;
}

p {
  margin-bottom: 12px;
}

br {
  margin-bottom: 8px;
}

/* table */
table {
  text-align: center;
}