summary {
  padding: .8rem 1.5rem;
  outline: 0;
  cursor: pointer;
  display: block;
  color: #c30d23;
  font-weight: 700;
  font-size: 16.5px;
  &:hover {
    background: #eee;
    transition: all linear 0.2s;
  }
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}

details {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 10px;
  display: block;
}

details summary::before {
  content: none !important;
}
details summary::after {
  content: "＋";
  color: #aaa;
  font-weight: 400;
  float: right;
  width: 1rem;
  text-align:center;
}
details[open] summary::after {
  content: "−";
  margin-top: -0.1rem;
}

details[open] div {
  animation: accordion 0.4s linear;
  overflow: hidden;
  border-bottom: 2px solid #eee;
  font-size: 1rem;
  padding: 1rem;
}

@keyframes accordion {
  0% {
    opacity: 0;
    height: 0;
  }
  70% {
    opacity: 0;
    //height: auto; //コレだとカクカクする
    height: 200px;
  }
  100% {
    opacity: 1;
  }
}