.iconTag {
  background: #07c;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  padding: 3px 15px 1px;
  margin-right: 10px;
  font-size: 80%;
}
.iconTag-red {
  background: #c70c27;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  padding: 3px 15px 1px;
  margin-right: 10px;
  font-size: 80%;
}
.abridgment {
  list-style-type: none;
  background-color: #f5fcff;
  border-radius: 5px;
  padding: 20px;
}

.abridgment ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.abridgment ul li:before {
  position: absolute;
  top: 3px;
  left: -15px;
  content: "";
  display: inline-block;
  left: 4px;
  width: 12px;
  height: 8px;
  border-left: 3px solid #07c;
  border-bottom: 3px solid #07c;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: 4px;
  margin-right: 10px;
}

.abridgment ul li:last-child {
  margin-bottom: 0;
}

.abridgment ul li.color-red:before {
  border-left: 3px solid #c70c27;
  border-bottom: 3px solid #c70c27;
}

.abridgment .definitionList {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .abridgment {
    padding: 10px;
    margin-bottom: 30px;
  }
  .abridgment ul li {
    margin-bottom: 10px;
    position: relative;
  }
  .abridgment ul li:before {
    width: 10px;
    height: 6px;
    border-left: 2px solid #07c;
    border-bottom: 2px solid #07c;
  }
  .abridgment ul li:last-child {
    margin-bottom: 0;
  }
  .abridgment ul li.color-red:before {
    border-left: 2px solid #c70c27;
    border-bottom: 2px solid #c70c27;
  }
}
.newslist {
  width: 100%;
}
.newslist ul{
  list-style-type: none;
}
.newslist li {
  background-color: #F8F8F8;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  font-size: 88%;
  margin-bottom: 2px;
}
.newslist li a {
  box-sizing: border-box;
  color: #000000;
  display: table;
  padding: 15px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
}
.newslist li a:hover {
  background: #FFFFFF;
  text-decoration: none;
}
.newslist li div {
  display: table-cell;
  width: 144px;
}
.newslist li p {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}

/* 時間の設定 */
.newslist li time {
  color: #1278FF;
  display: table-cell;
  vertical-align: top;
  width: 90px;
}

/* カテゴリの設定 */
.newslist li .news,
.newslist li .blog {
  background-color: #1278FF;
  border-radius: 1px;
  color: #FFFFFF;
  font-size: 9px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
}
.newslist li .blog {
  background-color: #18A4C6;
}
.body .div .p {
  color: black;
}
.qtat{
  font-size: 22px;
}
.qtmn{
  font-size: 54px;
  color: red;
}
.ukch{
  font-size: 16px;
  color: black;
}
.calendar-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #1a1a1a;
  padding: 0;
}
.day *:first-child {
  color: #C70C27;
}
.day *:last-child {
  color: #0077CC;
}
.bor *:first-child {
  color: #C70C27;
}
.bor *:last-child {
  color: #0077CC;
}
.bor {
  background-color: #FDF5F8;
}
.unaviable {
  color: #AAA;
}
.ticketleft {
  color: #07C;
  font-weight: normal;
}
.notleft {
  color: #AAA;
  font-weight: normal;
}
.finish {
  color: white;
  font-weight: normal;
}
.holiday {
  color: #C70C27;
}
.end {
  color: white;
}
img {
  border-radius: 6px;
}
a {
 text-decoration: none;
 font-weight: bold;
}
table {
  width: 100% auto;
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  table-layout: fixed;
}
th, td {
  border-bottom: 1px solid #ccc;
}
th, td {
  border-left: 1px solid #ccc;
}
table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}