/* 1 */
.christmas {
  color: #E60012;
  font-weight: normal;
}

/* 2 */
.cpuh {
  color: #A1F897;
}

.cpu {
  color: #A1F897;
  font-weight: normal;
}

.battery {
  color: #4bce1c;
  font-weight: normal;
}

/* 4 */
.diamond {
  color: #E9EDF2;
}

/* 5 */
.batteryh {
  color: #4bce1c;
}