/* menu */
.menu-left {
  text-align: right;
  float: left;
}

.menu-right {
  text-align: right;
  float: right;
}

/* title */
.title {
  margin-top: 200px;
  margin-bottom: 70em;
}

.title > h1 {
  font-weight: bold;
}

.time {
  color: #bdbb42;
  font-weight: normal;
}

.health {
  color: #eb4d5d;
  font-weight: normal;
}

.enviro {
  color: #19e33e;
  font-weight: normal;
}

/* function */
.function {
  margin-bottom: 70em;
}

.a {
  text-align: center;
}

.ab {
  text-align: left;
  display: inline-block;
  margin-bottom: 12px;
}

/* fit to you */
.fit_to_you {
  margin-bottom: 70em;
}

/* battery */
.battery {
  margin-bottom: 70em;
}

.battery-strong {
  color: #09ff00;
  font-weight: normal;
}

/* apay */
.apay {
  margin-bottom: 70em;
}

/* security */
.security {
  margin-bottom: 70em;
}

/* strong */
.strong {
  margin-bottom: 70em;
}

.diamond {
  color: #E9EDF2;
  font-weight: normal;
  -webkit-text-stroke: 0.25px #000;
}

.emergency {
  color: #FF0000;
}

/* mobile */
.mobile {
  margin-bottom: 70em;
}

/* info */
hr .info {
  margin-bottom: 16px;
}

/* note */
.note1 {
  display: table;
  text-align: center;
  margin-top: 12px;
}

.note2 {
  text-align: left;
  display: inline-block;
  color: #808080;
  font-size: 13px;
}

/* alert */
.alert {
  color: #FF0000;
  font-weight: bold;
}

/* all */
h2 {
  margin-bottom: 12px;
}

p {
  margin-bottom: 12px;
}

br {
  margin-bottom: 8px;
}

/* table */
table {
  text-align: center;
}